<!--This is the email template for the contact us form submissions in ClasInfo Pro.
The email is sent to the administrators when a user submits the contact us form.
The template includes a greeting, the user's message, and their contact details for follow-up.
Email template for contact us form submissions -->

The following message were submitted through the Contact us page of ClasInfo Pro:
<blockquote><%= comments %></blockquote><br>

<h3>Client details</h3>
Name: <%= name %><br>
Email: <%= email %>

<p>Thank You</p>