<p style="margin:0 0 15px 0;">Dear <%= name || "User" %>,</p>

<p style="margin:0 0 20px 0;">
  You recently requested to reset your password.
  Click the button below to proceed:
</p>

<p style="text-align:center; margin:25px 0;">
  <a href="<%= baseUrl %>forget_password_link/<%= accessToken %>"
     style="background:#2563eb;
            color:#ffffff;
            padding:12px 20px;
            text-decoration:none;
            border-radius:5px;
            display:inline-block;
            font-weight:600;">
     Reset Your Password
  </a>
</p>

<p style="margin:20px 0 0 0; font-size:13px; color:#666;">
  This link is valid for 1 hour.
</p>

<p style="margin-top:20px;">Thank you,<br/>ClasInfo Team</p>
