<p style="margin:0 0 15px 0;">
  Dear <%= name %>,
</p>

<p style="margin:0 0 15px 0;">
  Your password has been successfully reset.
</p>

<p style="margin-top:20px;">
  Thank you,<br/>
  CLAS Team
</p>
